flask
flask_cors
python-dotenv
requests
memory-profiler
pytest
logging_utils
prometheus_client
pympler
openai>=1.0.0
psutil
colorlog
jsonschema
tiktoken
transformers
fastapi
transformers[sentencepiece]
mem0ai
